.radio_item{
	display: none !important;
}

.label_item {
	opacity: 1;
}

.radio_item:checked + label {
	opacity: 0.3;
}

.ai {
	display: inline-block;
	margin-bottom: 8px;
	width: calc(25% - 4px);
	margin-left: 16px;
	text-decoration: none;
	color: black;
}
.ai:nth-of-type(2n) {
	margin-right: 0;
}
@media screen and (min-width: 50em) {
	.ai {
		width: calc(18% - 8px);
	}
	.ai:nth-of-type(2n) {
		margin-right: 16px;
	}
	.ai:nth-of-type(4n) {
		margin-right: 0;
	}
}
.ai:hover .imgi {
	transform: scale(1.10);
}
figure {
	margin-left: 32px;
	margin-top: 16px;
	overflow: hidden;
}
figcaption {
	margin-top: 8px;
}
.imgi {
	border: none;
	max-width: 100%;
	height: auto;
	display: block;
	background: #ccc;
	transition: transform .2s ease-in-out;
}
.p .ai {
	display: inline;
	font-size: 14px;
	margin: 0;
	text-decoration: underline;
	color: blue;
}
.p {
	text-align: center;
	font-size: 14px;
	padding-top: 100px;
}

.footerbottom {
	text-align: center; 
	font-size:1em;
	/* position: absolute; */
	/* bottom: 0; */
	background-color: #fff;
	width: 100%;
	height:20px;
}
